---
import BlogPost from "@/layouts/BlogPost.astro";
---

<BlogPost>
  <div class="flex flex-col items-center justify-center h-[90dvh]">
    <h1 class="text-2xl">Not Found</h1>
    <span class="text-lg">Error 404</span>
  </div>
</BlogPost>
