---
import BlogPost from "@/layouts/BlogPost.astro";
---

<BlogPost >
  <div class="min-h-screen flex flex-col items-center justify-center m-auto dark:text-paragraph-dark">
    <h1>404 Error</h1><spna>Not Found</spna>
  </div>
</BlogPost>
