---
import { getCollection } from "astro:content";
import BlogPost from "@/layouts/BlogPost.astro";
import ProjectsList from "@/components/ProjectList.jsx";

const projects = (await getCollection("project")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<BlogPost>
  <section>
    <div class="ml-48 relative h-23">
      <img
        src="proyecto.png"
        alt="#"
        class="size-28 absolute top-2 right-1/2"
      />
      <h1
        class="absolute bottom-0 right-1/2 transform -translate-x-1/2 text-3xl font-bold italic dark:text-headingg-main-dark"
      >
        Proyect<span class="text-white">os</span>
      </h1>
    </div>

    <ProjectsList projects={projects} client:load/>
  </section>
</BlogPost>
