---
interface Props {
  utils: string;
}

const { utils } = Astro.props;
---

<div class="relative group">
  <span
    class="hidden group-hover:block z-10 transition-all absolute p-0.5 rounded-md top-1/2 right-1/2 bg-main-light dark:bg-main-dark text-black dark:text-white translate-x-1/2 -translate-y-1/2 transform bg-opacity-30 text-sm italic "
    >{utils}</span
  >
  <slot />
</div>
