---
import MenuIcon from "@/icons/Menu.astro";
---

  <button id="ToggleSideBar" class="absolute top-2 right-0 cursor-pointer"><MenuIcon /></button>



<script>
  import { isOpen } from "../store.js";

  // Set the store to true when the button is clicked
  function openDialog() {
    if (isOpen.value === false) {
      isOpen.set(true);
    } else {
      isOpen.set(false);
    }
  }

  const ToggleSideBar = document.getElementById("ToggleSideBar");

  ToggleSideBar?.addEventListener("click", openDialog);

  isOpen.subscribe((open) => {
    if (open) {
      // Cuando isOpen es verdadero, el sidebar se mueve a la derecha
      
    } else {
      // Cuando isOpen es falso, el sidebar se mueve a la izquierda
     
    }
  });

  // Add an event listener to the button
</script>
