---
import BaseHead from "../components/BaseHead.astro";
import AsideMenu from "../components/AsideMenu.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { ClientRouter } from "astro:transitions";
import SideBarToggle from "@/components/SideBarToggle.jsx"; //
import ThemeToggleButton from "@/components/ThemeToggleButton.jsx"; // Para cambiar el tema
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body
    class="relative w-full h-screen p-2 gap-2 bg-main-light dark:bg-main-dark transform transition-all"
  >
    <!-- Barra lateral -->
    <aside
      id="SideBar"
      class="col-span-1 z-40 fixed top-0 left-0 w-full sm:w-80 h-full flex flex-col flex-1 gap-2 md:m-1 transform transition-all bg-main-light dark:bg-main-dark"
    >
      <AsideMenu
        person="Fabian Fernando Fonseca Chacon (T.F)"
        role1="Ingeniero de Sistemas"
        role2="Desarrollador FrontEnd"
        experience={2}
      />
    </aside>

    <!-- Contenido principal -->
    <main
      id="Main"
      class="relative rounded-lg overflow-y-auto  z-10 transform transition-all h-full"
    >
      <ClientRouter />
      <ThemeToggleButton client:visible />
      <!-- Aquí insertamos el botón para alternar el sidebar -->
      <slot />
    </main>
  </body>
</html>
